<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">

  <targets async="true">
    <!--
          name - 输出目标的名称
          type - 输出目标的类型，如File,DataBase,Mail,Console,ColoredConsole,Network
          target嵌套深度没有任何限制
    -->
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} | ${callsite} | ${level} | ${message}"/>
    <target name="file" xsi:type="File" fileName="C:/NLog/${shortdate}/${level} - ${logger}.log" layout="${message}"/>
  </targets>

  <rules>
    <!--
          name - 日志源/记录者的名字 (允许使用通配符*)
          minlevel - 该规则所匹配日志范围的最低级别
          maxlevel - 该规则所匹配日志范围的最高级别
          Trace,Debug,Info,Warn,Error,Fatal
          level - 该规则所匹配的单一日志级别
          levels - 该规则所匹配的一系列日志级别，由逗号分隔。
          writeTo - 规则匹配时日志应该被写入的一系列目标，由逗号分隔。
          final - 标记当前规则为最后一个规则。其后的规则即时匹配也不会被运行
     -->
    <!--<logger name="*" minlevel="Trace" writeTo="console,file"/>-->
    <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="*" minlevel="Trace" writeTo="file"/>
  </rules>
</nlog>